* {
  margin: 0%;
  padding: 0%; }

a {
  text-decoration: none !important;
  color: black !important; }

header #divImagenYtitulo {
  width: 100%;
  display: flex; }
  header #divImagenYtitulo div {
    padding-left: 10px;
    display: flex;
    align-items: center; }

header img {
  width: 10%;
  padding: 20px 0 20px 10px; }

header ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
  display: flex;
  justify-content: space-evenly; }
  header ul li {
    font-size: 20px; }

main {
  padding: 0 10% 0 10%; }

#camisetas, #merch, #post {
  padding: 0%;
  margin: 0%;
  width: 33%;
  height: 100%; }
  #camisetas img, #merch img, #post img {
    height: 100%; }

#post img {
  border-radius: 20px; }

#carruseles {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.poster, .merch {
  height: 500px; }

#camisetas div div {
  height: 500px; }

#camisetas button, #merch button {
  filter: invert(108%); }

#post button {
  filter: invert(0%); }

#jug {
  display: flex;
  flex-direction: row; }
  #jug ol {
    width: 50%;
    margin: 0% !important;
    padding: 0; }

#jugadores h3 {
  text-align: center;
  padding: 5px 0 5px 0; }

#ol1 {
  padding-left: 36% !important; }

#ol2 {
  padding-left: 2% !important; }
