
a{
    text-decoration: none !important;
    color: black !important;
}

header{
    #divImagenYtitulo{
        width: 100%;
        display: flex;
        div{
            padding-left: 10px;
            display: flex;
            align-items: center;
        }
        img{
            transition: all 2s;
            &:hover{
                filter: brightness(250%);
            }
        }
    }
    img{
        width: 10%;
        padding: 20px 0 20px 10px;
    }
    ul{
        margin: 0%;
        padding: 0%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;

        li{
            width: 25%;
            text-align: center;
            font-size: 30px;
            &:hover{
                background-image: radial-gradient(at 50% 60%, white, #b9a58a 50%);
            }
        }
    }
}