*{
    margin: 0%;
    padding: 0%;
}

@import "menu";

main{
    padding: 0 10% 0 10%;
}

#camisetas, #merch, #post{
    padding: 0%;
    margin: 0%;
    width: 33%;
    height: 100%;
    button{
        filter: invert(108%);
    }
    img{
        height: 100%;
    }
}

#post{
    img{
        border-radius: 20px;
    }
}

#carruseles{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mjJug{
    display: flex !important;
}

#jugPt1{
    margin-bottom: 0% !important;
    padding: 0% !important;
    width: 50%;
}