@import "menu";
*{
    margin: 0%;
    padding: 0%;
}

$tamaños:(
    poster: 500px,
);

$colores:(
    flechas1: invert(108%),
    flechas2: invert(0%),
);


main{
    padding: 0 10% 0 10%;
}


#carruseles{
    padding-top: 20px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    
    grid-template-columns: repeat(3, 1fr);
    
    grid-template-areas: 
    'camis post merch';

    column-gap: 10px;
}

#camisetas, #merch, #post{
    padding: 0%;
    margin: 0%;
    img{
        height: 100%;
    }
}

#camisetas{
    grid-area: camis;
}

#merch{
    grid-area: merch;
}

#post{
    grid-area: post;
    img{
        border-radius: 20px;
    }
}

.poster, .merch{
    height: map-get($tamaños, poster);
}

#camisetas{
    div{
        div{
            height: map-get($tamaños, poster);
        }
    }
}

#camisetas, #merch{
    button{
        filter: map-get($colores, flechas1);
    }
}

#post{
    button{
        filter: map-get($colores, flechas2);
    }
}

#jug{
    ol{
        margin: 0% !important;
        padding: 0;
    }
}

#jugadores{
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-rows:1fr 9fr;
    grid-template-areas: 
    'jugMasGol'
    'lista';
    h3{
        text-align: center;
        padding: 5px 0 5px 0;
        grid-area: jugMasGol;
    }
}

#jug{
    grid-area: lista;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'unoCinco seisDiez';
}

#ol1{
    grid-area: unoCinco; 
    padding-left: 55% !important;
}

#ol2{
    grid-area: seisDiez;
    padding-left: 10% !important;
}

/*CAMISETAS*/

#tituloCamisetas{
    text-align: center;
    padding: 10px 0 10px 0;
}

section{
    article{
        h3{
            text-align: center;
        }
    }
}

#camisetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);

    grid-template-areas: 
    '2000-01 2001-02 2002-03'
    '2003-04 2004-05 2005-06'
    '2006-07 2007-08 2008-09'
    '2009-10 2010-11 2011-12'
    '2012-13 2013-14 2014-15'
    '2015-16 2016-17 2017-18'
    '2018-19 2019-20 2020-21'
    '2021-22 2022-23 2023-24'
    '2024-25 2024-25 2024-25';
}

